*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
}

.card {
    border: 2px solid black;
}

.have-read::before {
    content: 'read:';
}